*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'poppins', sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
.container {
    width: 100%;
    max-width: 450px;
    padding: 25px;
    background-color: gray;
    border-radius: 10px;
    text-align: center;
}
.container h2 {
    margin-bottom: 20px;
}
.input-e-p {
    margin-bottom: 15px;
    text-align: left;
}
.input-e-p label {
    font-weight: bold;
}
.input-e-p input {
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 16px;
}
.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #0288d1;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.login-btn:hover {
    background-color: #0277bd;
}
@media (max-width: 400px) {
    .container {
        padding: 20px;
        margin: 20px
    }
      
}